<app-top-menu></app-top-menu>

<ion-content class="bg-image">
  <img src="assets/img/bg.png" alt="bg" class="bg-wa" />
  <img src="assets/img/left.png" alt="bg" class="bg-wa-left" />
  <img src="assets/img/right.png" alt="bg" class="bg-wa-right" />

  <ion-text>
    <h1 class="color-primary">Perfil</h1>
  </ion-text>

  <div class="login-logo">
    <img src="assets/img/appicon.png" alt="Ionic logo" />
  </div>

  <ion-text>
    <p>Dianna Massiris</p>
    <p>dianamass@gmail.com</p>
  </ion-text>

  <ion-row>
    <ion-col>
      <ion-button id="open-editar" expand="block" class="btn-wa"
        >Editar Información</ion-button
      >
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button id="open-password" expand="block" class="btn-wa"
        >Cambiar Contraseña</ion-button
      >
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button id="open-eliminar" expand="block" class="btn-wa"
        >Eliminar Cuenta</ion-button
      >
    </ion-col>
  </ion-row>
  <div class="text-forgot">
    <a>Terminos y condiciones</a>
  </div>

  
    <ion-modal class="wa-modal" trigger="open-editar">
      <ng-template>
        <ion-content class="ion-padding center alarm-bg">
          <div class="wa-close">
            <ion-icon
              style="zoom: 1.5"
              (click)="cancel1()"
              name="close"
            ></ion-icon>
          </div>
          <ion-list lines="none">
            <ion-label>Nombre</ion-label>
            <ion-item>
              <ion-input
                name="nickname"
                type="text"
                placeholder="Nickname"
              ></ion-input>
            </ion-item>
            <ion-label>Correo</ion-label>
            <ion-item>
              <ion-input
                name="email"
                type="text"
                placeholder="Correo"
              ></ion-input>
            </ion-item>
          </ion-list>
          <div class="ion-padding">
            <ion-button (click)="cancel1()" expand="block" class="btn-wa"
              >Listo</ion-button
            >
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modal2 class="wa-modal" trigger="open-password">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding center alarm-bg">
          <ion-item>
            <ion-input
              name="password"
              type="password"
              placeholder="Contraseña anterior"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              name="password2"
              type="password"
              placeholder="Nueva Contraseña"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              name="password3"
              type="password"
              placeholder="Repetir Contraseña"
            ></ion-input>
          </ion-item>

          <div class="ion-padding">
            <ion-button (click)="cancel()" expand="block" class="btn-wa"
              >Listo</ion-button
            >
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal #modal3 class="wa-modal" trigger="open-eliminar">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding center alarm-bg">
          <ion-item>
            <p>¿Seguro desea eliminar su cuenta?</p>
          </ion-item>
          <div class="ion-padding">
            <ion-button (click)="cancel()" expand="block" class="btn-wa"
              >Si</ion-button
            >
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  
</ion-content>
