<ion-header class="ion-no-border">
  <ion-toolbar>
    <img class="logo-wa" src="assets/img/appicon.png" alt="Ionic Logo" />
    <ion-title>Dianna Massiris</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image">
  <img src="assets/img/bg.png" alt="bg" class="bg-wa" />
  <img src="assets/img/left.png" alt="bg" class="bg-wa-left" />
  <img src="assets/img/right.png" alt="bg" class="bg-wa-right" />

  <ion-text>
    <h1 class="color-primary">Perfil</h1>
  </ion-text>

  <div class="login-logo">
    <img src="assets/img/appicon.png" alt="Ionic logo" />
  </div>

  <ion-text>
    <p>Dianna Massiris</p>
    <p>dianamass@gmail.com</p>
  </ion-text>

  <ion-row>
    <ion-col>
      <ion-button type="submit" expand="block" class="btn-wa">Editar Información</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="submit" expand="block" class="btn-wa">Cambiar Contraseña</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="submit" expand="block" class="btn-wa">Eliminar Cuenta</ion-button>
    </ion-col>
  </ion-row>
  <div class="text-forgot">
    <a>Terminos y condiciones</a>  
  </div>    

</ion-content>
