.login-logo {
    padding: 5px 0;
    text-align: center;
  }
  
  .login-logo img {
    max-width: 150px;
  }
  
  .list {
    margin-bottom: 0;
  }

  ion-icon{
    background-color: white;
    border: solid 1px;
    color: black;
    border-radius: 50px;
    font-size: large;
}