<app-top-menu></app-top-menu>

<ion-content class="center">
  <app-wa-menu [current]="'periodo'"></app-wa-menu>


  <ion-text>
    <h1 class="color-primary">Mi Periodo</h1>
    <p>Ingresa tu ultima fecha</p>
    <p *ngIf="listo" class="subtitle">15/03/2023</p>
  </ion-text>

  <ion-row *ngIf="!listo" class="input">
    <img width="50px" src="assets/img/icons/calendar.png" />
  </ion-row>

  <ion-text>
    <p>Cuantos dias duró</p>
    <p *ngIf="listo" class="subtitle">4</p>
  </ion-text>

  <ion-row *ngIf="!listo">
    <ion-select interface="popover" placeholder="Selecione dias">
      <ion-select-option *ngFor="let day of days" [value]="day">{{ day+1 }}</ion-select-option>
    </ion-select>
  </ion-row>

  <ion-text>
    <p>Tu estado de animo durante el ciclo</p>
  </ion-text>

  <ion-row *ngIf="!listo">
    <ion-col>
      <img src="assets/img/faces.png" alt="Periodo" />
    </ion-col>
  </ion-row>

  <ion-row *ngIf="listo">
    <ion-col>
      <img src="assets/img/icons/feliz.png" alt="feliz" />
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button *ngIf="!listo" type="submit" expand="block" class="btn-wa" (click)="setListo()">Listo</ion-button>
      <ion-button *ngIf="listo" type="submit" expand="block" class="btn-wa" (click)="setListo()">Ingresa nuevo
        periodo</ion-button>
    </ion-col>
  </ion-row>

  <div class="buttons-stage">
    <ion-row class="buttons-wa">
      <ion-col>
        <a (click)="manual()">
          <img src="assets/img/icons/clock.png" alt="Cocinar" />
        </a>
      </ion-col>
      <ion-col>
        <a>
          <img src="assets/img/icons/clock.png" alt="Mascotas" />
        </a>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>Crea una alarma</p>
      </ion-col>
      <ion-col>
        <p>Alarma automática</p>
      </ion-col>
    </ion-row>
  </div>

  <hr />
</ion-content>