<app-top-menu></app-top-menu>

<ion-content class="center">
  <app-wa-menu [current]="'planificar'"></app-wa-menu>

  <ion-text>
    <h1 class="color-primary">Mi Metodo</h1>
    <p>Elije tu metodo de planificación</p>
    <p *ngIf="listo" class="subtitle">Pastillas de planificación</p>
  </ion-text>

  <ion-row *ngIf="!listo">
    <ion-select interface="popover" placeholder="Selecione metodo">
      <ion-select-option value="pastillas">Pastillas</ion-select-option>
      <ion-select-option value="dispositivo">Dispositivo</ion-select-option>
      <ion-select-option value="injeccion">Injeccion</ion-select-option>
    </ion-select>
  </ion-row>

  <ion-text>
    <p>Elige la periocidad</p>
    <p *ngIf="listo" class="subtitle">Diario</p>
  </ion-text>

  <ion-row *ngIf="!listo">
    <ion-select interface="popover" placeholder="Selecione periocidad">
      <ion-select-option value="diario">Diario</ion-select-option>
      <ion-select-option value="mensual">Mensual</ion-select-option>
      <ion-select-option value="anual">Anual</ion-select-option>
    </ion-select>
  </ion-row>

  <ion-text>
    <p>Elije como te hace sentir tu método</p>
  </ion-text>

  <ion-row *ngIf="!listo">
    <ion-col>
      <img src="assets/img/faces.png" alt="Periodo" />
    </ion-col>
  </ion-row>

  <ion-row *ngIf="listo">
    <ion-col>
      <img src="assets/img/icons/feliz.png" alt="feliz" />
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button *ngIf="!listo" type="submit" expand="block" class="btn-wa" (click)="setListo()">Listo</ion-button>
      <ion-button *ngIf="listo" type="submit" expand="block" class="btn-wa" (click)="setListo()">Ingresa nuevo
        método</ion-button>
    </ion-col>
  </ion-row>

  <app-alarm-menu [current]="'planificar'"></app-alarm-menu>
  <app-web-left-menu [current]="'planificar'"></app-web-left-menu>


  <hr />
</ion-content>