a {
    color: #FF9D60;
}

ion-item {
    color: #3D3A3B;
    background-color: white;
    border-radius: 10px;
    border: solid 2px  #FEC89A;
    margin-bottom: 10px;
}

.clock {
    font-size: 21px;
    font-weight: 600;
}

.text{
    font-weight: 600;
}