<ion-header class="ion-no-border">
  <ion-toolbar>
    <img class="logo-wa" src="assets/img/appicon.png" alt="Ionic Logo" />
    <ion-title>Dianna Massiris</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="menu">
    <ion-row class="buttons-wa">
      <ion-col>
        <a class="btn-wa-tabs periodo" (click)="periodo()">
          <img src="assets/img/icons/periodo.png" alt="Periodo" />
        </a>
      </ion-col>
      <ion-col>
        <a class="btn-wa-tabs planificar" (click)="planificar()">
          <img src="assets/img/icons/planificar.png" alt="Planificar" />
        </a>
      </ion-col>
      <ion-col>
        <a class="btn-wa-tabs casa" (click)="casa()">
          <img src="assets/img/icons/casa.png" alt="Casa" />
        </a>
      </ion-col>
      <ion-col>
        <a class="btn-wa-tabs embarazo">
          <img src="assets/img/icons/embarazo.png" alt="Embarazo" />
        </a>
      </ion-col>
    </ion-row>
    <ion-row class="buttons-wa-text">
      <ion-col>
        <p>Periodo</p>
      </ion-col>
      <ion-col>
        <p>Planificar</p>
      </ion-col>
      <ion-col>
        <p>Casa</p>
      </ion-col>
      <ion-col>
        <p>Embarazo</p>
      </ion-col>
    </ion-row>
  </div>

  <ion-text>
    <h1 class="color-primary">Mi Embarazo</h1>
    <p [ngClass]="{'subtitle': !listo}">Cuantas semanas tienes</p>
    <p *ngIf="listo" class="subtitle">
      Tienes 21 semanas, tu bebe mide aproximadamente 16 centímetros.
    </p>
  </ion-text>

  <ion-row *ngIf="!listo">
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-select interface="popover" placeholder="Selecione Semana">
            <ion-select-option *ngFor="let week of weeks" [value]="week"
              >Semana {{ week+1 }}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-text>
    <p>Cuando es tu proximo control?</p>
    <p *ngIf="listo" class="subtitle">15/04/2023</p>
  </ion-text>

  <ion-row *ngIf="!listo">
    <ion-col>
      <ion-input
        name="date"
        type="text"
        spellcheck="false"
        autocapitalize="off"
        required
        placeholder="dd/mm/aaaa"
        autocomplete="off"
      >
      </ion-input>
    </ion-col>
    <ion-col>
      <img width="50px" src="assets/img/icons/calendar.png" />
    </ion-col>
  </ion-row>

  <ion-text>
    <p>Tu estado de animo durante este mes</p>
  </ion-text>

  <ion-row *ngIf="!listo">
    <ion-col>
      <img src="assets/img/faces.png" alt="Periodo" />
    </ion-col>
  </ion-row>

  <ion-row *ngIf="listo">
    <ion-col>
      <img src="assets/img/icons/feliz.png" alt="feliz" />
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button
        *ngIf="!listo"
        type="submit"
        expand="block"
        class="btn-wa"
        (click)="setListo()"
        >Listo</ion-button
      >
      <ion-button
        *ngIf="listo"
        type="submit"
        expand="block"
        class="btn-wa"
        (click)="setListo()"
        >Ingresa tu próximo control</ion-button
      >
    </ion-col>
  </ion-row>

  <div class="buttons-stage">
    <ion-row class="buttons-wa">
      <ion-col>
        <a (click)="manual()">
          <img src="assets/img/icons/clock.png" alt="Cocinar" />
        </a>
      </ion-col>
      <ion-col>
        <a>
          <img src="assets/img/icons/clock.png" alt="Mascotas" />
        </a>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>Crea una alarma</p>
      </ion-col>
      <ion-col>
        <p>Alarma automática</p>
      </ion-col>
    </ion-row>
  </div>

  <hr />
</ion-content>
