<app-top-menu></app-top-menu>

<ion-content class="center">

  <h1>Diario de emociones</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="calendar">
          <img width="100%" src="assets/img/sunshine.png" />
          <ion-datetime presentation="date"
          ></ion-datetime>
        </div>
      
      
      </ion-col>
      <ion-col>

      
        <p>Tu estado de ánimo promedio durante el mes de Febrero</p>
        <img class="final" width="100%" src="assets/img/happy.png" />

      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>